/vendor/
composer.lock
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/app/*
!/storage/app/.gitkeep
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
